.container-fluid.mt20
  %h1 Walls
  %p
    Remaining Walls to Distribute
    =current_user.walls.remaining_walls_to_dispurse
  =form_tag(wall_path(@walls.first), method:"patch") do
    -@walls.each do |wall|
      Wall Level
      =wall.level
      Count
      =number_field_tag("wall[#{wall.level}]",wall.wall_count)
      %br

    =submit_tag("Update Walls")
