- content_for :navbar do
  .navbar
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to("Clash Progress", root_path, class:"navbar-brand")
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active
          =link_to("Home", root_path)
        %li
          =link_to("Login", new_user_session_path) 
        %li
          =link_to(new_user_registration_path, class:"no-top-padding") do
            %button.btn.btn-outline-primary.sign-up Sign Up