- if alert
  .alert.alert-danger
    %a.close{'data-dismiss' => "alert"} &times;
    = fa_icon_tag "remove"
    = alert

- if notice
  .alert.alert-warning
    %a.close{'data-dismiss' => "alert"} &times;
    = fa_icon_tag "info-sign"
    = notice
